* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
   background: #8FBC8F;
}

.container {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c6c4b9;
    padding: 1rem;
}

.form-image img {
    max-width: 100%;
    height: auto;
}

.form {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
   }

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #3CB371;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #c6c4b9;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 0.9rem; 
}
@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
    }
    .form {
        width: 90%; 
    }
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    min-width: 200px; 
}

.input-box input:hover {
    background-color: #c6c4b9;
}

.input-box input:focus-visible {
    outline: 1px solid #c6c4b9;
}

.input-box label,
.gender-title h6 {
    font-size: 14px;
    font-weight: 700;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.gender-group {
    display: flex;
    flex-direction: column; 
    margin-top: 9px;
    font-size: 16px;
}

.term {
    margin-top: 20px;
    font-size: 12px;
}

#birthdate {
    width: 55%;
}

.login-text {
    margin-right: 12px;
    padding: 10px; /* Adicionado */
}

.continue-button {
    margin-top: 3rem;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: #3CB371;
    padding: 1.2rem 2rem; 
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #c6c4b9;
}

.required-field {
    color: #d80835;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    .form {
        width: 100%; 
    }
}

@media screen and (max-width: 458px) {
    .input-box {
        width: 100%; 
    }
}
